<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @course.platform %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @course.skill %>
</p>

<p>
  <strong>Length:</strong>
  <%= @course.length %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @course.difficulty %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @course.delivery %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @course.cost %>
</p>

<p>
  <strong>URL:</strong>
  <%= @course.url %>
</p>
